body{
    background-color: gray;
    width: 100vw; 
    height: 100vh; 

    overflow: hidden;
}

.loading-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.progress-bar {
    display: flex;
    gap: 5px; 
    padding: 5px;
    border: 2px solid #aaa;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.loading-spinner {
    width: 80px;      
    height: 80px;
    border: 8px solid rgba(255, 255, 255, 0.3); 
    border-top: 8px solid #ffffff;             
    border-radius: 50%;                         
    
    animation: spin 1s linear infinite;
    
    margin-bottom: 20px; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#logo{
    width: 125px; 
    height: auto; 
}

.block{
    width: 30px;
    height: 20px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: background-color 1s ease;
}

.block.active{
    background-color: red;
    border-color: red;
}

.block.error{
    background-color: green;
    border-color: green;
}

#loading-text{
    color: white;
    font-size: 30px;
}

.error-details{
    margin-top: 30px;
    color: #aaa;
    font-size: 14px;
    line-height: 1.6;
}

#message{
    color: #eee;
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}






